<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DataDridge</title>
</head>

<body>
<style>
  div{ width: 48vw; float: left; }
  textarea{ width: 90%;}
</style>


<div>
<h4> object </h4>
<textarea data-dridge id="obj" rows="8">
  {
    a:1,
    "b":'string',
    "c": [1,2],
    "d":{
      d1:[1,3]
    }
  }
</textarea>

<h4> array  </h4>
<textarea data-dridge=array id="array" rows="2">
[ '1',2]
</textarea>

<h4> risk : 危险字段 </h4>
<textarea data-dridge=risk id="risk" rows="2">
  {alert(1);(function(){console.log(' is risk string')})()}
</textarea>

<h4> number </h4>
<textarea data-dridge=number id="number" rows="2">
  '1234eer'
</textarea>

<h4> url (regexp)</h4>
<div data-dridge=url id="url" rows="2">
  https://www.baidu.com/
</div>


<h4> source </h4>
<textarea data-dridge=source id="source" rows="10">
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <style> h1 {color: '#000'} </style>
    <h1> card - htmlsource </h1>
  </body>
  </html>
</textarea>
</div>



<div>
  <h1> 解析结果 </h1>
  <textarea id="result" rows="20">
  </textarea>
  <button> 解析 </button>
</div>




<% if(htmlWebpackPlugin.files) {for(var i=0; i < htmlWebpackPlugin.files.js.length; i++ ) { %>
<script charset="utf-8" type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
<% }} %>
</body>

</html>